.movie-container {
    text-align: center
}

.movie {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin: 20px;
}

.movie .poster {
    height: 240px;
    border: dashed;
}

.movie-selected .poster {
    height: 240px;
    border: dashed blue;
}

.gone {
    display: none;
}