div.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

div.form-group {
    max-width: 750px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#advancedOptionsContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #666666;
    color: white;
    /*display: none;*/
}

#advancedOptionsContainer input {
    color: black;
    margin-top: .2em;
    margin-bottom: .2em;
}